<h1>The Sweet Life of <%= @person.name %></h2>
<h2><%= @person.name %>'s Schools</h2>
<% @person.schools.order(:beginning_year).each do |school| %>
  <p><%= school.name %> <%= school.beginning_year %></p>
<% end %>
<h2><%= @person.name %>'s Life Events</h2>
<% @person.life_events.order(:year).each do |event| %>
  <p><%= event.title %> <%= event.year %></p>
<% end %>
