<h1 class='text-center'>The Sweet Life of <%= @person.name %></h2>
<div class='row text-center'>
  <div class='columns large-6'>
    <h2>Schools</h2>
    <% @person.schools.order(:beginning_year).each do |school| %>
      <p><%= school.name %> <%= school.beginning_year %></p>
    <% end %>
    <%= link_to 'Add School', new_person_school_path(@person) %>

  </div>
  <div class='columns large-6'>
    <h2>Life Events</h2>
    <% @person.life_events.order(:year).each do |event| %>
      <p><%= event.title %> <%= event.year %></p>
    <% end %>
    <%= link_to 'Add Life Event', new_person_life_event_path(@person) %>
  </div>
</div>
