<div class='columns large-4 large-centered text-center'>
  <%= simple_form_for [@person, @life_event], url: person_life_events_path do |f| %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
  <%= link_to 'Go back', root_path %>
</div>
