<div class='row'>
  <div class='columns large-12 text-center'>
    <h1>Welcome to Life Tracker</h1>
  </div>
</div>

<div class='row'>
  <div class='columns large-8 text-center'>
    <div class='row'>
      <div class='columns large-8'>
        <h2>The Life Feed</h2>
        <% @feed.each do |feed| %>
          <% if feed.class == School  %>
            <p><%= feed.person.name %> just added <%= feed.name %> on <%= feed.created_at.to_formatted_s(:short)%></p>
          <% else %>
            <p><%= feed.person.name %> just added <%= feed.title %> on <%= feed.created_at.to_formatted_s(:short) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='columns large-4 text-center'>
    <h2>The People</h2>
    <% @people.each do |person| %>
        <%= link_to person.name, person_path(person) %></br>
    <% end %>
    <h4><%= link_to 'Add Person', new_person_path %></h4>
  </div>
</div>
