<div class='columns large-4 large-centered text-center'>
  <%= simple_form_for [@person, @school], url: person_schools_path do |f| %>
    <%= f.input :name %>
    <%= f.input :beginning_year %>
    <%= f.input :ending_year %>
    <%= f.button :submit %>
  <% end %>
  <%= link_to 'Go back', root_path %>
</div>
